*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /*border: 1px solid red;*/
}



body {
    min-width: 100%;
    max-width: 100%;
    min-height: 100vh; 
    background-color: #EDEDED;
    font-size: 100%;
    font-family: Roboto, sans-serif;
    display: grid;
    grid-template-columns: 5% 90% 5%;
}

.people-details {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 2.188em;
    max-width: 100%;
    margin-bottom: 2.5em;
}

/*header*/

.grid-center {
    grid-column: 2/2;
}

.header-container {
    margin: 1.875em 0em;
    min-height: 3.125em;
    border-bottom: 0.125em solid #B8B8B8;
    padding-bottom: 1em;
}

.header-container a {
    color: #3B3B3B;
    text-decoration: none;
}

.header-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.card-layout-toggle {
    display: flex;
    justify-content: space-between;
    min-width: 13.25em;
}

.all-cards-link {
    min-width: 7em;
    background-color: #ffffff;
}

.decks-link {
    min-width: 5.75em;
    background-color: #E4E4E4;
}

.all-cards-link, .decks-link, .bavin-edwards, .search {
    border-radius: 0.25em;
}

.all-cards-link, .decks-link, .bavin-edwards {
    padding: 0.5em 0.75em;
}

.bavin-edwards {
    border-style: solid;
    border-color: #E4E4E4;
}

/*breadcrumb*/

.breadcrumb ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.breadcrumb li::before {
    content: "> ";
}

.breadcrumb li:first-child::before {
    content: "";
}

.breadcrumb a, .breadcrumb span {
    margin-right: 0.3em;
    text-decoration: none;
}

.breadcrumb ul li a {
    color: #757575;
}

.breadcrumb ul li span {
    color: #969696;
}

.breadcrumb ul li a:hover {
    text-decoration: underline;
}

/*search bar*/

.search {
    min-width: 27.5em;
    max-width: 27.6em;
    min-height: 2em;
    margin: 1.3em 0em;
    border: transparent;
    background-image:url(/assets/Search.svg); 
    background-repeat: no-repeat; 
    background-position: 98%;
    text-indent: 0.5em;
}

input:focus{
    outline: none;
    background-image: none;
}

/*card*/

.card-container, .card {
    min-width: 22.375em;
    max-width: 22.378em;
    min-height: 17.625em;
    border-radius: 0.5em;
    background-color: #ffffff;
}

.card-container:hover {
    cursor: pointer;
}

.card-header {
    display: grid;
    grid-template-columns: 5% 90% 5%;
    align-content: space-around;
    min-height: 6.125em;
    background-color: #969696;
    border-radius: 0.5em 0.5em 0em 0em;
}

.person-name {
    /*align-self: baseline;*/
    color: #ffffff;
}

.card-icon {
    width: 1em;
    height: 1em;
}

.card-sub-heading {
    display: grid;
    grid-template-columns: 5% 90% 5%;
    margin: 0.8em 0em;
}

.gender-container {
    min-height: 1.3em;
    border-bottom: 0.125em solid #B8B8B8;
}

.gender-icon, .card-detail-icon {
    margin-right: 0.23em;
}

.gender-container, .species {
    grid-row: 1;
}

.species {
    justify-self: end;
}

.species, .birth-year {
    font-size: 0.875em;
    color: #3B3B3B;
}

.card-detail-container {
    display: grid;
    grid-template-columns: 5% 90% 5%;
}

.card-detail-title-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #EDEDED;
    min-height: 2em;
    margin: 0.2em 0em;
    border-radius: 0.25em;
}

.card-detail-title, .card-detail-title1, .card-detail-title2 {
    font-size: 0.625em;
    color: #757575;
}

.card-detail-data {
    font-size: 0.875em;
    color: #3B3B3B;
}

.card-title-icon, .card-detail-data {
    margin: 0em 0.5em;
}

.character-font-color {
    color: #3B3B3B;
}

/*tablet*/
@media only screen and (min-width:768px) and (max-width:1024px) {
    body {
        grid-template-columns: 20% 60% 20%;
    }

    .search {
        min-width: 100%;
        background-position: 98%;
    }

    .people-details {
        grid-template-columns: 1fr 1fr;
        min-width: 100%;
    }
}

/*desktop*/

@media only screen and (min-width:1025px) {
    body {
        grid-template-columns: 10% 80% 10%;
    }

    .people-details {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    }
}

/*tablet and desktop*/
@media only screen and (min-width:768px) {
    .card-container, .card {
        min-width: 13.5em;
        max-width: 14em;
    }
}