*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /*border: 1px solid red;*/
}

body {
    background-color: #EDEDED;
    font-size: 100%;
    font-family: Roboto, sans-serif;
    display: grid;
    grid-template-columns: 5% 90% 5%;
}

/*header*/

.grid-center {
    grid-column: 2/2;
}

.header-container {
    margin: 1.875em 0em;
    min-height: 3.125em;
    border-bottom: 0.125em solid #B8B8B8;
    padding-bottom: 1em;
}

.header-container a {
    color: #3B3B3B;
    text-decoration: none;
}

.header-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.card-layout-toggle {
    display: flex;
    justify-content: space-between;
    min-width: 13.25em;
}

.all-cards-link {
    min-width: 7em;
    background-color: #ffffff;
}

.decks-link {
    min-width: 5.75em;
    background-color: #E4E4E4;
}

.all-cards-link, .decks-link, .bavin-edwards, .search {
    border-radius: 0.25em;
}

.all-cards-link, .decks-link, .bavin-edwards {
    padding: 0.5em 0.75em;
}

.bavin-edwards {
    border-style: solid;
    border-color: #E4E4E4;
}

/*breadcrumb*/

.breadcrumb ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.breadcrumb li::before {
    content: "> ";
}

.breadcrumb li:first-child::before {
    content: "";
}

.breadcrumb a, .breadcrumb span {
    margin-right: 0.3em;
    text-decoration: none;
}

.breadcrumb ul li a {
    color: #757575;
}

.breadcrumb ul li span {
    color: #969696;
}

.breadcrumb ul li a:hover {
    text-decoration: underline;
}

/*search bar*/

.search {
    min-width: 22.375em;
    max-width: 30em;
    min-height: 2em;
    margin: 1.3em 0em;
    border: transparent;
    background-image:url(/assets/Search.svg); 
    background-repeat: no-repeat; 
    background-position: 26em 0.188em;
    text-indent: 0.5em;
}

input:focus{
    outline: none;
    background-image: none;
}

/*card*/

.card-container, .card {
    min-width: 22.375em;
    min-height: 17.625em;
    border-radius: 0.5em;
    background-color: #ffffff;
}

.card-header {
    display: flex;
    flex-direction: column;
    min-height: 6.125em;
    background-color: #969696;
    border-radius: 0.5em 0.5em 0em 0em;
}

.person-name, .card-icon {
    color: #ffffff;
}

.card-icon {
    width: 1em;
    height: 1em;
}
